html {
  background-color: black;
  color: white;
}

/* Splash page styling */
#splash {
  min-height: 100vh;
}

/* First Testimonial page styling */
#test-1 {
  min-height: 100vh;
}

/* Second testimonial page styling */
#test-2 {
  min-height: 100vh;
}

/* Third testimonial page styling */
#test-3 {
  min-height: 100vh;
}

/* About page styling */
#about {
  min-height: 100vh;
}

/* Site navigaton bar styles */
#nav-guide {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.nav-indicator {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid white;
}
